<!-- Modal -->
<div class="modal fade" id="<%= idModal%>" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"><%= __('Delete %s', element); %></h4>
            </div>
            <div class="modal-body">
                <p><%= __('Do you want to delete %s?', element); %></p>
                <input type="hidden" id="txtProvinceIdDel">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-delete"><%= __('OK'); %></button>
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal"><%= __('Cancel'); %></button>
            </div>
        </div>
    </div>
</div>